@import "../../../style/variables";
.Footer {
  background-color: $eveningGray;
  color: $midnightGray;
  height: $footerHeight;
  position: absolute;
  bottom: 0;
  width: 100%;

  .inner {
    padding: 20px;
  }
}
