@import "../../../style/variables";
.Footer {
  background-color: $oceanBlue;
  color: $midnightBlue;
  height: $footerHeight;
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;

  .inner {
    height: 100%;
    display: relative;

    .copyright {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 10px;
      font-size: 8px;
    }
  }
}
