@import "./reset";
@import "./variables";
@import "../components/atoms/Button/index";
@import "../components/atoms/Form/index";
@import "../components/molecules/Footer/index";
@import "../components/molecules/Header/index";

body {
  display: block;
  color: $moonYellow;
  background-color: $midnightGray;

  #root {
    background-color: $eveningBlue;
    text-align: center;
    margin: 0 auto;
    max-width: 425px;
  }

  .wrapper {
    position: relative;
    min-height: 100vh;

    .contents {
      padding-top: $headerHeight;
      padding-bottom: $footerHeight;
    }
  }
}
